{
  "extends": ["@antfu", "@unocss", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "semi": true
      }
    ],
    "antfu/top-level-function": "off",
    "antfu/if-newline": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "eslint-comments/no-unlimited-disable": "off",
    "arrow-body-style": "off",
    "prefer-arrow-callback": "off",
    "no-console": "off",
    "n/prefer-global/process": ["error", "always"],
    "vue/block-order": [
      "error",
      {
        "order": ["template", "script", "style"]
      }
    ],
  }
}
