// 主题CSS变量
:root,
page {
  // 主色调
  --theme-primary: #21d59d;
  --theme-success: #3ed268;
  --theme-warning: #fe9831;
  --theme-error: #fa4e62;

  // 文字颜色
  --theme-main-color: #1b233b;
  --theme-content-color: #60687e;
  --theme-tips-color: #7e869a;
  --theme-light-color: #bdc3d2;
  --theme-disabled-color: #dce0eb;

  // 背景颜色
  --theme-bg-color: #ffffff;

  // 边框颜色
  --theme-border-color: #e9ecef;
}

.theme-blue {
  --theme-primary: #3c9cff;
  --theme-success: #5ac725;
  --theme-warning: #f9ae3d;
  --theme-error: #f56c6c;
}
